body{
    max-width: 100%;
    
    font-size: larger
    

}

.header {

    display: flex;
     justify-content: center;
     padding: 0px 350px 0px 350px;
     align-items: center;
    background-color: black;
    border-left: 10px solid chocolate;
    border-right: 10px solid chocolate;

}
.header  figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
    align-items: center;


}
.header figcaption{
    display: flex;
    margin-top: -100px;
    
}
.container {
    display: flex;
    text-align: justify;
    flex-direction: column;
    border-left: 10px solid chocolate;
    border-right: 10px solid chocolate;
    background-color: rgb(219, 219, 240);
    padding-right: 500px;
    background-color: black;
}
.container>article {
   color: chocolate;
}
#footer{
    display: flex;
    justify-content: center;
    justify-items: center;
     color: chocolate;
    margin-top: -100px;
   
}